<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>
<body>
<div class="container">
	
	
		<!-- Add a button -->
		<a th:href="@{/employee/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3">
			Add Employee
		</a>
			
		

</div>

</body>
</html>