<?xml version="1.0" encoding="UTF-8"?>
<kb-project>
 <depends-on-projects/>
 <used-by-projects/>
 <paths>
  <path value="C:/Users/b8ibmjava30/.m2/repository/javax/servlet/javax.servlet-api/4.0.1/javax.servlet-api-4.0.1.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/javax/servlet/jsp/javax.servlet.jsp-api/2.3.3/javax.servlet.jsp-api-2.3.3.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-beans/5.2.0.RELEASE/spring-beans-5.2.0.RELEASE.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-core/5.2.0.RELEASE/spring-core-5.2.0.RELEASE.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-expression/5.2.0.RELEASE/spring-expression-5.2.0.RELEASE.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-jcl/5.2.0.RELEASE/spring-jcl-5.2.0.RELEASE.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-aop/5.2.0.RELEASE/spring-aop-5.2.0.RELEASE.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/javax/servlet/jstl/1.2/jstl-1.2.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/c-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/c-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/c.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fmt-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fmt-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fmt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fn.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/permittedtaglibs.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/scriptfree.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/sql-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/sql-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/sql.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/x-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/x-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/x.tld" project="springmvc1"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/b8ibmjava30/.m2/repository/javax/javaee-web-api/6.0/javaee-web-api-6.0.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/c-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/c-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/c.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/fmt-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/fmt-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/fmt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/fn.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/html_basic.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/jsf_core.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/mojarra_ext.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/permittedtaglibs.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/scriptfree.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/sql-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/sql-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/sql.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/x-1_0-rt.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/x-1_0.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-javaee-web-api-6.0.jar/meta-inf/x.tld" project="springmvc1"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-web/5.2.0.RELEASE/spring-web-5.2.0.RELEASE.jar"/>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-webmvc/5.2.0.RELEASE/spring-webmvc-5.2.0.RELEASE.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-5.2.0.RELEASE.jar/meta-inf/spring-form.tld" project="springmvc1"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-5.2.0.RELEASE.jar/meta-inf/spring.tld" project="springmvc1"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/b8ibmjava30/.m2/repository/org/springframework/spring-context/5.2.0.RELEASE/spring-context-5.2.0.RELEASE.jar"/>
 </paths>
 <validation>
  <core validator-id="jsf-verification"/>
  <core validator-id="jboss.cdi.core"/>
  <core validator-id="jboss.jsf.core"/>
  <el/>
 </validation>
 <aliases/>
 <includes/>
 <uris/>
</kb-project>
